@charset "utf-8";
/* CSS Document */

.jieshao{
	margin-top: 10px;
	margin-left: 250px;
	width:1000px;
	height: 800px;
	border: 5px solid;
}
.jieshao2{
	margin-left: 40px;
	margin-top: 20px;
	width: 100px;
	height: 500px;
	border:  1px solid;
}
.jieshao2 ul li{
	margin-left: 15px;
	margin-top: 40px;
	list-style: none;
}
.jieshao3{
	margin-left: 110px;
	width: 500px;
	height: 500px;
	border:  1px solid;
}