@charset "utf-8";
/* CSS Document */

.vido1{
	width: 99.4%;
	height: 500px;
	border: 5px solid #FFFFFF;
	background-image: url("../img/bj.jpg");
}
.vido2{
	margin-top: 50px;
	margin-left: 27%;
	width: 700px;
	height: 400px;


}